*{
  box-sizing: border-box;
}
body{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
li{
  text-decoration: none;
  list-style: none;
}

/*--------------GRIDS-----------*/
@media (min-width:401px) {
    body{
      display: grid;
      grid-template-columns: 1fr 400px 1fr;
      grid-template-rows: 2rem 1fr 1fr;
      gap: 20px;
      grid-auto-rows: 20px;
      grid-auto-columns: 20px;
      /* border: 2px solid rgb(60, 149, 184); */
    }
    article{
      grid-column: 2/3;
      grid-row: 2/3;
      border: 2px solid rgb(60, 149, 184);
    }
    .calculator{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3rem 1fr;
      gap: 0.5rem;
      border: 2px solid rgb(60, 149, 184);
    }

    .cal-screen{
      grid-column: 1/3;
      grid-row: 1/1;
      border: 1px solid black;
    }
    .numbers{
      grid-column: 1/1 ;
      grid-row: 2/2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 0.2rem;
      border: 2px solid rgb(60, 149, 184);
    }

    .mathSymbols{
      grid-column: 2/2 ;
      grid-row: 2/2;
      gap: 0.2rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      border: 2px solid rgb(60, 149, 184);
    }
}

@media(max-width:400px) {
  body{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 2rem 1fr 1fr;
    gap: 20px;
    /* grid-auto-rows: 20px; */
    /* grid-auto-columns: 20px; */
    /* border: 2px solid rgb(60, 149, 184); */
  }
  article{
    grid-column: 400px;
    grid-row: 2/3;
    border: 1px solid rgb(60, 149, 184);
  }
  .calculator{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 1fr;
    gap: 0.5rem;
    border: 2px solid rgb(60, 149, 184);
  }

  .cal-screen{
    grid-column: 1/3;
    grid-row: 1/1;
    border: 1px solid black;
  }
  .numbers{
    grid-column: 1/1 ;
    grid-row: 2/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.2rem;
    border: 2px solid rgb(60, 149, 184);
  }

  .mathSymbols{
    grid-column: 2/2 ;
    grid-row: 2/2;
    gap: 0.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid rgb(60, 149, 184);
  }
}


/* ///////////////////// STRUCTURE ///////////////////// */


.mathSymbols{
  padding: 1rem;
  font-size: 1.5em;
  margin: 0%;
  user-select: none;
}
.numbers{
  padding: 1rem;
  font-size: 2em;
  margin: 0%;
  user-select: none;
}
.cal-screen{
  padding-top: 0.5rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-bottom: 0.5rem;
  font-size: 2em;
  color: gray;
  text-align: end;
  
  
}
.mathSymbols li{
  
  padding: 0.2rem;
  text-align: center;
}
.numbers li{
  width: 4rem;
  margin: 0%;
  padding: 0.5rem;
  /* padding-left: 1rem;  */
  text-align: center;
}

/* //////////////////// APPEARANCE ///////////////////// */


.cal-buttons{
  border: 2px solid rgb(60, 149, 184);
}
.cal-buttons li{
  border: 2px solid black;
  /* padding : 0.1rem; */
  /* padding-left: 0.5rem; */
}
@media (min-width:1023px) {

.cal-buttons li:hover{
  background-color: hsla(0, 53%, 20%, 0.342);
  color: white;
  cursor: pointer;
}


}
/* .cal-buttons li::selection{
   user-select: none;
} */


.cal-screen::selection{
  color: rgb(230, 46, 184);
  /* color: rgb(38, 172, 33); */
}
